  theform{
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    background-color: #130a0a;
    padding: 20px;
  }
  submitButton{
    width: 100%;
    color: rgb(243, 95, 10);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  date, #month, #year, #gender{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 20px solid rgb(233, 226, 226);
    border-radius: 4px;
    box-sizing: border-box;
  }
  footer{
    background-color: #c7a2b9;
    margin-top: 2%;
    height: 30px;
  }
  header{
    background-color: #131212; 
  }
  .result{
    color: rgb(51, 51, 80);
  }
 .heading {
    text-align: center;
  }
  body {
    background-color: rgb(235, 187, 232,0.3);
  }